.monthly-issue-list {
    list-style-type: none;
}

.title {
    font-size: 24px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
}

img {
    width: 251px;
    height: 360px;
}

h3 {
    text-align: center;
}
@media screen and (max-width: 600px) {
    .grid-container {
        display: grid;
        grid-template-columns: auto;
    }
    h3 {
        text-align: center;
    }
}